<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

@if(products().length) {
<div class="container d-flex justify-content-between align-items-center mb-4">
  <h3>Products</h3>

  <button class="btn btn-primary" (click)="openAddModal()">
    Add new product
  </button>
</div>
}

<div class="container">
  @if(isLoading()) {
  <lib-grid-skelton></lib-grid-skelton>
  } @else {

  <div class="container products">
    <div class="row gy-4">
      @for (item of products(); track item.id) {
      <div class="col-lg-6 product-item" (click)="goToDetails(item)">
        <div class="product d-flex align-items-start">
          <div class="pic">
            <img
              [ngSrc]="item.image"
              width="150"
              height="150"
              class="img-fluid"
              alt="product image"
            />
          </div>
          <div class="product-info">
            <h4>{{ item.title }}</h4>
            <span>{{ item.category }}</span>
            <p>{{ item.description | seeAll }}</p>

            <div class="product-footer mt-auto align-self-start d-flex w-100">
              <div class="action d-flex align-items-center">
                <div class="badge bg-secondary me-2">{{ item.price }}$</div>

                <div class="d-flex align-items-center">
                  @if(getItemQuantity(item.id)() === 0) {
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="addToCart($event, item)"
                  >
                    Add to Cart
                  </button>
                  } @else {
                  <div class="btn-group btn-group-sm">
                    <button
                      class="btn btn-outline-primary"
                      (click)="decreaseQuantity($event, item.id)"
                    >
                      -
                    </button>
                    <button class="btn btn-outline-primary" disabled>
                      {{ getItemQuantity(item.id)() }}
                    </button>
                    <button
                      class="btn btn-outline-primary"
                      (click)="increaseQuantity($event, item.id)"
                    >
                      +
                    </button>
                  </div>
                  }
                </div>
              </div>
              <i
                class="bi bi-pencil cursor-pointer text-primary ms-auto icon"
                (click)="openEditModal($event, item)"
              ></i>
              <i
                class="bi bi-trash3 ms-3 cursor-pointer text-danger icon"
                (click)="openConfirmDeleteModel($event, item.id)"
              ></i>
            </div>
          </div>
        </div>
      </div>
      } @empty {
      <lib-empty-screen>
        <div class="action-buttons">
          <button
            type="button"
            class="btn btn-primary"
            (click)="openAddModal()"
          >
            Add new product
          </button>
        </div>
      </lib-empty-screen>
      }
    </div>
  </div>
  }
</div>
