<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

@if(users().length) {
<div class="container d-flex justify-content-between align-items-center mb-4">
  <h3>Users</h3>

  <button class="btn btn-primary" (click)="openAddModal()">Add new user</button>
</div>
}

<div class="container">
  @if(isLoading()) {
  <lib-grid-skelton></lib-grid-skelton>
  } @else {

  <div class="container">
    @if(users().length) {
    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (item of users(); track item.id) {
        <tr>
          <th scope="row">{{ item.id }}</th>
          <td>
            <a
              routerLink="/users/{{ item.id }}/detail"
              class="btn btn-link btn-sm"
              >{{ item.username }}</a
            >
          </td>
          <td>{{ item.email }}</td>
          <td>{{ item.phone }}</td>
          <td class="action-icons">
            <i class="bi bi-pencil cursor-pointer text-primary"></i>
            <i class="bi bi-trash3 ms-3 cursor-pointer text-danger"></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
    } @else {
    <lib-empty-screen>
      <div class="action-buttons">
        <button type="button" class="btn btn-primary" (click)="openAddModal()">
          Add new user
        </button>
      </div>
    </lib-empty-screen>
    }
  </div>
  }
</div>
