<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<header id="header" class="header sticky-top">
  <div class="branding d-flex align-items-center">
    <div
      class="container position-relative d-flex align-items-center justify-content-between"
    >
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">ROCH CORP</h1>
      </a>

      <nav id="navmenu" class="navmenu" #navmenu>
        <ul>
          <li>
            <a (click)="closeMenu()" routerLink="/">Home<br /></a>
          </li>
          <li>
            <a
              (click)="closeMenu()"
              routerLink="/users"
              routerLinkActive="active"
              >Users</a
            >
          </li>
          <li>
            <a
              (click)="closeMenu()"
              routerLink="/products"
              routerLinkActive="active"
              >Products</a
            >
          </li>
          <li>
            <a
              (click)="closeMenu()"
              routerLink="/categories"
              routerLinkActive="active"
              >Categories</a
            >
          </li>
          <li>
            <a
              (click)="closeMenu()"
              routerLink="/secret"
              routerLinkActive="active"
              >Protected Route</a
            >
          </li>
          <li class="login">
            @if(authService.isLoggedInSignal()) {
            <a class="cta-btn d-none d-sm-block" (click)="logout()">Logout</a>
            } @else {
            <a class="cta-btn d-none d-sm-block" (click)="openLoginModal()"
              >Login</a
            >
            }
          </li>
        </ul>
        <i
          class="mobile-nav-toggle d-xl-none bi bi-list"
          (click)="toggleMenu()"
        ></i>
      </nav>
    </div>
  </div>
</header>
